<div class="pg-sub-container">
  <h3>Thanks</h3>
  <hr />
  <div>
    First and foremost thanks to my Almighty God - for his mercy, love,
    kindness, longsuffering, for everything
  </div>
  <div>Thanks to my family</div>
  <div>
    Thanks to all my teachers in my journey. Some of them know me and some of
    them don't. Special thanks to Mr. Christopher Liz for his course on three js
    which helped me in portfolio page. The landing page concept is mainly from
    his training.
  </div>
  <div>
    Thanks to my ex and current colleagues and managers who have been part of my
    journey.
  </div>
  <div>May God bless all of you.</div>
</div>
