ul li {
  display: inline-block;
  list-style: none;
  padding: 5px;
  margin: 2px;
  border: 1px solid white;
  box-shadow: 3px 3px 3px white;
}
ul li.active {
  color: white;
  background-color: rgba(0, 159, 217, 0.7);
  box-shadow: none;
}
ul li:active {
  box-shadow: none;
}
ul li:hover {
  background-color: white;
  color: rgba(75, 0, 132, 0.6);
}
