<div *ngIf="!hide" class="absolute top-0 left-0 w-full h-full">
  <div class="mx-auto md:w-[80%] w-dvw  flex flex-col   h-dvh
       border rounded-lg border-gray-50  ">
    <div class="bg-transparent mb-10">
      <ul class="flex flex-wrap h-10 max-w-full flex-row text-white">
        <li
          class="focus:text-red-300 p-1 w-auto overflow-hidden max-h-10 border-b  shadow-none m-1 shadow-white hover:border hover:bg-gray-500 hover:text-white hover:shadow-inner active:shadow-none"
          (click)="goHome()">🏡</li>
        <li
          class="focus:text-red-300 p-1 w-auto overflow-hidden max-h-10 border-b  shadow-none m-1 shadow-white hover:border hover:bg-gray-500 hover:text-white hover:shadow-inner active:shadow-none"
          *ngFor="let h of headersElements" [routerLink]="h.link" [routerLinkActive]="'focus:text-red-300'">
          {{ h.text }}
        </li>

      </ul>
    </div>
    <div class="flex-1 flex flex-col">
      <div class="bg-transparent  flex-1 text-blue-200">
        <router-outlet></router-outlet>
      </div>
      <div class="bg-transparent text-white">&copy; Kevin John - 2026</div>
    </div>
  </div>
</div>