<div id="app" class="font-sans" *ngIf="!bShowPortfolioPage">
  <!-- <div id="app" *ngIf="false"> -->
  <div id="container" class="text-white absolute  text-center max-w-2xl"
    style="top: 50%; transform: translate(-50%, -50%); left: 50%">
    <h1 id="idH1" style=" transform: translateY(30px)"
      class="text-red-200 text-2xl uppercase tracking-wide ">
      Kevin John
    </h1>
    <p id="msgId" style="transform: translateY(30px)" class="text-blue-200 mt-4 font-sans text-xl ">
      Software Engineer with around {{nYearsOfExperience}} years of experience by God's grace.
    </p>
    <button id="viewBtn" style="transform: translateY(30px)" (click)="viewBtnClick($event)"
      class="text-emerald-300  border px-4 py-2 rounded-lg text-sm font-space-mono uppercase mt-8 hover:bg-white hover:text-gray-800 inline-block">
      View
    </button>
  </div>
</div>
<div *ngIf="bShowPortfolioPage">
  <app-portfolio-page ></app-portfolio-page>
</div>