<div class="pg-sub-container">
  <h3>Kevin John</h3>
  <hr />
  <div>
    <div class="pg-small-title">
      Software Engineer with around {{yearsExperience}} years of experience. I am an organized and hard-working individual, a team
      player with good communication and inter-personal skills.
    </div>
    <div>
      During the last {{yearsExperience}} years of my career, I have gained experience in various technologies by developing desktop and
      web applications. While doing the same I have also gained experience in leading small teams, mentoring juniors,
      conducting presentations etc. I have also gained experience in database languages like Oracle and Microsoft SQL
      Server, client-side frameworks like Angular, Ionic for developing SPA (Single Page Applications) and PWA
      (Progressive Web applications). I like investing my free time in improving my skill sets by learning new
      technologies. I have {{uaeExperience}} years of working experience in UAE and am looking forward to using my skills in an
      organization where I can continue to grow as well as help the organization achieve its goals.
    </div>
  </div>
</div>