/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
}
.pg-transparent {
  background-color: transparent;
  //   opacity: 0;
}
.pg-header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 30px;
  margin-bottom: 30px;
}
.pg-container {
  position: absolute;
  left: 0;
  top: 0;
  // background-color: black;
  color: white;
  width: 100%;
  height: 100%;
}
.pg-sub-container {
  margin: 20px;
  padding: 20px;
  max-height: 80vh;
  overflow: auto;
}
.pg-sub-container h3 {
  color: rgb(0, 192, 106);
  font-size: 1.2em;
  font-weight: bold;
}
.pg-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px;
  font-size: 0.8em;
  text-align: right;
}
.pg-sub-container div {
  padding: 4px;
  margin: 4px;
}
.pg-medium-title {
  color: rgb(73, 137, 255);
  font-size: 1em;
}
.pg-extra-small-title {
  font-weight: bold;
  color: rgb(52, 255, 126);
  font-size: 0.7em;
}
.pg-small-title {
  font-weight: bold;
  font-size: 0.9em;
  color: cyan;
}
