<div class="pg-sub-container">
  <h3>Education</h3>
  <hr />
  <div class="pg-medium-title">Executive MBA in Information Technology</div>
  <div class="pg-small-title">University : Jaipur University, India (2020)</div>
  <div class="pg-extra-small-title">- 65.00 %</div>
  <hr />
  <div class="pg-medium-title">
    Bachelor of Engineering in Information Technology(certificate attested)
  </div>
  <div class="pg-small-title">Mumbai University, India (2012)</div>
  <div class="pg-extra-small-title">- 67.00 %</div>
</div>
